footer{ display:flex;
    flex-wrap:wrap;
    background-color:black;
    width:100vw;
    height:25vh;
}
.footer_class{
    color:white;
    text-align:center;
    letter-spacing:auto;
    text-wrap:nowrap; 
}
li{
    list-style:none;
    color:black;
    padding:0 34px;
}
ul{
    display:flex;
    flex-wrap:wrap;
}
header{
    display:flex;
    flex-wrap:wrap-reverse;
    margin:0;
    padding:0;
    background-color: white;
    width:100vw;
    height:10vh;
    top:0;
    position:sticky;
    z-index:1;
    border: 0 3px solid rgb(214, 214, 214);;
}

li #search{
    width:28vw;
    height: 5vh;

}
body{
    background-color: rgb(214, 214, 214);
}

p{
    color:white;
}